<nav class="nav-mobile" data-target="active">
  <ul class="nav-mobile-buttons">
    <li><button id="nav-toggle"></button></li>
    <li><img src="" alt="" /></li>
    <li><a href="#"></a></li>
  </ul>

  <ul class="nav-mobile-list">
    <li class="nav-mobile-list-item"><a href="#">Home.</a></li>
    <li class="nav-mobile-list-item"><a href="#">Services.</a></li>
    <li class="nav-mobile-list-item"><a href="#">About Us.</a></li>
    <li class="nav-mobile-list-item"><a href="#">Projects.</a></li>
  </ul>
</nav>

<nav class="nav-desktop" data-target="inactive">
  <ul class="nav-desktop-list">
    <li class="nav-desktop-list-item">
      <img src="" alt="" /><a href="#" class="uppercase">Home.</a>
    </li>
    <li class="nav-desktop-list-item">
      <img src="" alt="" /><a href="#" class="uppercase">Services.</a>
    </li>
    <li class="nav-desktop-list-item">
      <img src="" alt="" /><a href="#" class="uppercase">About Us.</a>
    </li>
    <li class="nav-desktop-list-item">
      <img src="" alt="" /><a href="#" class="uppercase">Projects.</a>
    </li>
  </ul>

  <img src="" alt="" />

  <a href="#">Contact Us</a>
</nav>
