<%- include('partials/header.ejs') %>
            
            <main>
                <p class="uppercase">Oops...I can't find the web page you want to visit :(</p>

                <a href="/">Home.</a>
                <span>404</span>            
              </main>
</body>
</html>
