<%- include('partials/header.ejs') %>

<main>
  <div class="hero">
    <p class="uppercase sub-heading clr-brand">Oops...I can't find the web page you want to visit :(</p>
    <a href="/" class="btn primary-btn">Home.</a>
    <span class="error-404 text-outline" aria-label="hidden">404</span>
  </div>
</main>
