<%- include('partials/header.ejs') %> <%- include('partials/navigation.ejs') %>

<h1 class="heading heading-animate">About Us</h1>
<main class="margin">
  <p>
    Strax Designs is a product of a idea which generated in the year of 2021 by
    two young ambitious web developers, and is a solution for the obstacles that
    may occur in the process of digitalization. Experience builds attitude, and
    our attitude is for you to achieve your results with minimal effort from
    your side.
  </p>
  <p class="margin-top-400">
    Our mission is to help businesses across the world, spread their message in
    the easiest way in the digital world, and help them overcome the obstacles
    that many struggle with.
  </p>

  <div class="flex-wrap">
    <div class="card">
      <img src="images/dimitar-about-us.jpg" alt="Dimitar Kalapocev Picture" />
      <h2 class="uppercase">Dimitar Kalapocev</h2>
      <h3 class="uppercase clr-brand">Co-founder</h3>
      <p class="margin-top-400">
        Web Developer with 3 years experience working on small and big websites
        and web applications. Except his professional career, he likes reading
        psychology books, plays chess, football and Marvel fan.
      </p>
    </div>
    <div class="card">
      <img src="images/dance-about-us.jpg" alt="Dance Kirova Picture" />
      <h2 class="uppercase">Dance Kirova</h2>
      <h3 class="uppercase clr-brand">Co-founder</h3>
      <p class="margin-top-400">
        Web Developer with experience in the field of UI/UX design and digital
        marketing. In the moment student at Front-end Development Academy and
        spends her free time volunteering, watches TV Shows and reads books.
      </p>
    </div>
  </div>
</main>

<script>
  gsap.from('main', {
    opacity: 0,
    duration: 2,
    delay: 2,
  });
</script>
