<%- include('partials/header.ejs') %>
<main>
  <div class="flex">
    <button id="back-btn"><i class="fa-solid fa-angle-left"></i></button>

    <form action="/" method="post">
      <div>
        <label for="name" class="uppercase">Name</label
        ><input type="text" name="name" id="name" placeholder="John Doe" />
      </div>
      <div>
        <label for="email" class="uppercase">Email</label
        ><input
          type="email"
          name="email"
          id="email"
          placeholder="johndoe@gmail.com"
        />
      </div>
      <div>
        <label for="date" class="uppercase">Date</label>
        <input type="date" name="date" id="date" />
      </div>

      <button type="submit" class="btn primary-btn" id="form-submit-btn">
        Schedule
      </button>
    </form>

    <section for="contact-info">
      <header id="contact-info">
        <h2>Contact Information</h2>
      </header>
      <div class="contact-info-item">
        <i class="fa-solid fa-phone"></i>
        <p class="uppercase">077-961-279</p>
      </div>
      <div class="contact-info-item">
        <i class="fa-solid fa-phone"></i>
        <p class="uppercase">077-981-775</p>
      </div>
      <div class="contact-info-item">
        <i class="fa-brands fa-instagram"></i>
        <p class="uppercase">@strax_design</p>
      </div>
      <div class="contact-info-item">
        <i class="fa-brands fa-facebook"></i>
        <p class="uppercase">/straxdesigns</p>
      </div>
      <div class="contact-info-item">
        <i class="fa-solid fa-envelope"></i>
        <p class="uppercase">info@straxdesigns.com</p>
      </div>
    </section>
  </div>
</main>
