<%- include('partials/header.ejs') %> <%- include('partials/navigation.ejs') %>

<main>
  <div class="hero">
    <h1 class="heading hero-heading">Achieve your digital success with us</h1>
    <div class="hero-learn-more hide">
      <h2 class="uppercase sub-heading">Who are we</h2>
      <p>
        Strax Designs is a web development agency located in Strumica, North
        Macedonia, taking on projects worldwide. Our main goal is to help you
        digitalize your business in the easiest way possible, without your
        concern.
      </p>
    </div>
    <button class="btn primary-btn" id="learn-more">Learn More</button>
  </div>
</main>

<script src="scripts/toggle-learn-more.js"></script>
<script>
  const tl = gsap.timeline();

  function reload() {
    tl.from('.hero-heading', {
      opacity: 0,
      y: 50,
      duration: 1,
    });
    tl.from('.btn', {
      opacity: 0,
      y: 50,
      duration: 1,
    });
  }

  const btn = document.getElementById('learn-more');

  btn.addEventListener('click', () => {
    gsap.from('.hero-learn-more', {
      opacity: 0,
      duration: 1,
    });

    reload();
  });

  reload();
</script>
