<%- include('partials/header.ejs') %>
<%- include('partials/navigation.ejs') %>

      <div class="hero">
        <h1 class="uppercase">Lorem ipsum dolor sit amet.</h1>
        <div class="hero-learn-more">
          <h2 class="uppercase">Who are we</h2>
          <p>Strax Designs is a web development agency located in Strumica, North Macedonia, taking on projects worldwide.  Our main goal is to help you digitalize your business in the easiest way possible, without your concern.</p>
        </div>
        <button class="btn btn-primary">Learn More</button>
      </div>
  </body>
</html>
