<%- include('partials/header.ejs') %> <%- include('partials/navigation.ejs') %>

<main>
  <h1 class="uppercase">Projects</h1>

  <a href="neotek-systems" class="uppercase text-outline">Neotek System</a
  ><a href="breathing-darkness" class="uppercase text-outline"
    >Breath.ing Darkness</a
  ><a href="niol" class="uppercase text-outline">NIOL</a>
</main>
