<%- include('partials/header.ejs') %> <%- include('partials/navigation.ejs') %>

<main>
  <h1>Services</h1>

  <section for="web-design">
    <header id="web-design">
      <h2 class="uppercase">Web Design</h2>
    </header>
    <p>
      With the latest technologies, who are recognized by the top companies like
      Facebook, Twitter, Tesla and more, we offer you unique websites with
      exceptional speed (tested by Google) and modern design specialized for
      your business. We build trust and easier communication between you and
      your clients, overcoming your competition in the digital world.
    </p>
    <button class="btn primary-btn" id="toggle-package-design">Packages</button>

    <div id="package-design" class="flex-wrap">
      <p class="details-item uppercase">Responsive Design</p>
      <p class="details-item uppercase">Animations</p>
      <p class="details-item uppercase">SEO</p>
      <p class="details-item uppercase">Unlimited Pages</p>
      <p class="details-item uppercase">Contact Form</p>
      <p class="details-item uppercase">Illustrations</p>
      <p class="details-item uppercase">Content Writing</p>
      <p class="details-item uppercase">Images + Editing</p>
    </div>

    <p>
      If the price of your website is above 500&euro;, you get 3 months free
      hosting.
    </p>
    <p>
      If the price of your website is above 1.000&euro;, you get 6 months free
      hosting.
    </p>
  </section>

  <section for="web-hosting">
    <header id="web-hosting">
      <h2 class="uppercase">Web Hosting</h2>
    </header>
    <p>
      We recognized that hosting a website is unknown to our clients, which made
      us introduce a complete experience with developing and hosting websites.
      Strax Designs offers you maintaining your website and server, taking the
      responsibility as our obligation.
    </p>
    <button class="btn primary-btn" id="toggle-package-hosting">
      Packages
    </button>

    <div id="package-hosting" class="flex-wrap">
      <p class="details-item uppercase">6 months</p>
      <p class="details-item uppercase">12 months</p>
    </div>
  </section>

  <section for="work-process">
    <header id="work-process">
      <h2 class="uppercase">Work Process</h2>
    </header>

    <div class="carousel-container">
      <div id="carousel" class="carousel">
        <div class="carousel-item">
          <div class="carousel-item-flex">
            <img src="" alt="" />
            <h3>Meet Up</h3>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
            officia voluptas expedita debitis earum odit.
          </p>
        </div>
        <div class="carousel-item">
          <div class="carousel-item-flex">
            <img src="" alt="" />
            <h3>Meet Up</h3>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
            officia voluptas expedita debitis earum odit.
          </p>
        </div>
        <div class="carousel-item">
          <div class="carousel-item-flex">
            <img src="" alt="" />
            <h3>Meet Up</h3>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
            officia voluptas expedita debitis earum odit.
          </p>
        </div>
        <div class="carousel-item">
          <div class="carousel-item-flex">
            <img src="" alt="" />
            <h3>Meet Up</h3>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
            officia voluptas expedita debitis earum odit.
          </p>
        </div>
        <div class="carousel-item">
          <div class="carousel-item-flex">
            <img src="" alt="" />
            <h3>Meet Up</h3>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
            officia voluptas expedita debitis earum odit.
          </p>
        </div>
        <div class="carousel-item">
          <div class="carousel-item-flex">
            <img src="" alt="" />
            <h3>Meet Up</h3>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
            officia voluptas expedita debitis earum odit.
          </p>
        </div>
      </div>
      <div class="carousel-buttons">
        <button class="btn primary-btn" id="carousel-item-next"></button
        ><button class="btn primary-btn" id="carousel-item-prev"></button>
      </div>
    </div>
  </section>
</main>
</body>
</html>
