<%- include('../partials/header.ejs') %>
<h1 class="heading">Projects</h1>

<div>
  <a href="/projects" class="btn secondary-btn">
    <i class="fa-solid fa-angle-left"></i>
  </a>

  <h2 class="uppercase sub-heading">Breath.ing Darkness</h2>
  <div class="image-full-width-block">
    <img src="images/test.png" alt="" class="image-full-width" />
  </div>

  <p class="max-width-65">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem omnis
    voluptatum libero aliquam optio rerum sit nulla, nobis accusamus eligendi
    molestiae fuga neque voluptas dolorem, laborum fugit est error commodi!
  </p>

  <a href="#" target="_blank" class="website-icon btn"
    ><i class="fa-solid fa-globe"></i
  ></a>

  <div class="grid-area">
    <img src="images/test.png" alt="" /><img src="images/test.png" alt="" />

    <span class="decorative opacity-10" aria-label="hidden">font:</span>

    <div class="sub-grid-area">
      <div class="sub-grid-area-one">
        <h3 class="uppercase">Font:</h3>
        <p class="uppercase font-poppins clr-brand">Poppins</p>
        <p class="uppercase font-poppins">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam
          inventore officiis laboriosam voluptates rem! Laudantium et soluta
          officia nostrum delectus!
        </p>
      </div>

      <div class="sub-grid-area-two">
        <div>
          <p class="uppercase font-poppins">abcdefghijklmnopqrstuvwxyz</p>
          <p class="uppercase font-poppins opacity-10 font-size-s">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non harum
            veniam saepe voluptatem, veritatis aut ipsa vero cumque ipsum
            molestiae?
          </p>
        </div>
        <p class="uppercase font-poppins text-vertical">0123456789</p>
      </div>
    </div>
  </div>
</div>
