<%- include('../partials/header.ejs') %>
<main>
  <h1 class="uppercase">Projects</h1>

  <div>
    <h2 class="uppercase">Neotek Systems</h2>
    <img src="" alt="" />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem omnis
      voluptatum libero aliquam optio rerum sit nulla, nobis accusamus eligendi
      molestiae fuga neque voluptas dolorem, laborum fugit est error commodi!
    </p>
    <a href="#">Visit Website</a>

    <button class="btn primary-btn" id="back-btn-projects"></button>
  </div>
</main>
