<%- include('../partials/header.ejs') %>
<main>
  <h1 class="uppercase">Projects</h1>

  <div>
    <button class="btn secondary-btn" id="back-btn-projects">
      <i class="fa-solid fa-angle-left"></i>
    </button>

    <h2 class="uppercase">Neotek Systems</h2>
    <img src="" alt="" />

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem omnis
      voluptatum libero aliquam optio rerum sit nulla, nobis accusamus eligendi
      molestiae fuga neque voluptas dolorem, laborum fugit est error commodi!
    </p>

    <a href="#" target="_blank"><i class="fa-solid fa-globe"></i></a>

    <div class="grid-area">
      <img src="" alt="" /><img src="" alt="" />

      <span class="decorative" aria-label="hidden">font:</span>

      <div class="sub-grid-area">
        <div class="sub-grid-area-one">
          <h3 class="uppercase">Font:</h3>
          <p class="uppercase font-courier-new">Courier New</p>
          <p class="uppercase font-courier-new">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam
            inventore officiis laboriosam voluptates rem! Laudantium et soluta
            officia nostrum delectus!
          </p>
        </div>

        <div class="sub-grid-area-two">
          <p class="uppercase font-courier-new">abcdefghijklmnopqrstuvwxyz</p>
          <p class="uppercase font-courier-new opacity-10 font-size-s">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non harum
            veniam saepe voluptatem, veritatis aut ipsa vero cumque ipsum
            molestiae?
          </p>
          <p class="uppercase font-courier-new text-vertical">0123456789</p>
        </div>
      </div>
    </div>
  </div>
</main>
